.TEST {

}

.e-i-i {
  padding: 15px;
}

.e-i-box {
  // border: 1px solid red;
  width: 330px;
  height: 300px;
  background: white;
  border-bottom: 1px solid gray;

}

.ii-upper{

}
.img-div {
  position: relative;
}

.img-div img {
  width: 100%;
  height: 165px;
}
 .img-div span {
   // z-index: 1;
   // width: auto;
   // padding: 5px

   font-size: 12px;
    line-height: 18px;
    color: #282C35;
    box-sizing: border-box;
    padding: 2px 10px;
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 10px;
    background: white;
    text-transform: uppercase;
 }

 .ii-text {
   height: 100px;
   margin-left: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   color: gray;
 }
 .ii-t-date{
   font-size: 13px;
   text-transform: uppercase;
 }
 .ii-t-title {
   color: black;
 }
 .ii-t-location {
   font-size: 13px;
 }

 .ii-footer {
   display: flex;
   justify-content: space-between;
   text-transform: capitalize;
   font-size: 14px;
   font-weight: 100;
   line-height: 35px;
   padding-right: 15px;
   border-top: 1px solid #EFF2F5;
   padding-left: 15px;
   height: 35px;
   color: gray;
 }


.ii-bookmark {

   border-left: 1px solid #EFF2F5;
   margin-bottom: 1px;
   padding-left: 15px;
   color: gray;
 }
