.event-index {
  font-family: Lato;
  background: #f8f8fa;
  color: #45494e;
}

.event-spacer {
  height: 50px;
}

.event-inner {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-inner h1 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}

.event-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
