body {
  font-family: "Ubuntu","PT Sans Narrow", sans-serif;
  // border: 1px solid pink;
}

header nav {
  display: flex;
  justify-content: space-between;
  z-index: 40000;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  border-bottom: 1px solid #D2D6DF;
  // letter-spacing: 0.05em;


}

.navleft {
  // border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right: 1px solid #EFF2F5;
}

.navRight {
  // border: 1px solid red;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  // border-left: 1px solid #EFF2F5;
  display: flex;
  flex-direction: row-reverse;
}

.createEvent {
  display: flex;
  align-items: center;
  height: 60px;
  border: none;
  border-left: 1px solid #EFF2F5;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0px;
  color: #0278b8;
  letter-spacing: 0.05em;
}
.createEvent:hover {
  background: #EFF2F5;
}


.user {
  display: flex;
  align-items: center;
  padding: 22px 20px 19px 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
  color: gray;
  border-left: 1px solid #EFF2F5;
  cursor: pointer;

}
.user:hover {
  background: #EFF2F5;
}
.navRight button {
  padding: 22px 20px 19px 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 15px;
  color: gray;
  width: 100%;;
  height: 100%;
}

.logo {
  // logo
  margin: 0px 20px;
  // border: 1px solid green;
 /* height: 47px; */
 width: 110px;
 font-family: Artifika;
 color: #f6682F;
 font-weight: 1000;
 font-size: 22px;

}
